@model IEnumerable<School.Models.Teacher>
@{

    var courses = ViewBag.CourseId as SelectList;
}
@using (Html.BeginForm("Search", "TeacherCourses", FormMethod.Post))
{
    @if (ViewBag.CourseId != null)
    {
        @Html.DropDownList("CourseId", ViewBag.CourseId as SelectList, "Select Course", new { @class = "form-control" })
    }
    <button type="submit" class="btn btn-primary">Search</button>
}
@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                   Teacher
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var teacher in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => teacher.TeacherName)
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <tr>
        <td colspan="1">No teachers found</td>
    </tr>
}